sudo: required
dist: trusty

language: rust
rust:
  - nightly
  - stable
os:
  - linux
cache:
  cargo: true
  apt: true

branches:
  only:
    - master

env:
  - rel=0.7.3

script:
  - |
    cargo build &&
    cargo test

before_install:
  - MAKEFLAGS=-j$(($(grep -c '^processor' /proc/cpuinfo) * 2 + 1))
  - sudo apt-get update -y && sudo apt-get install -y linux-headers-$(uname -r) uuid-dev tree
  - cd /tmp
  - curl -L https://github.com/zfsonlinux/zfs/releases/download/zfs-$rel/spl-$rel.tar.gz | tar xz
  - curl -L https://github.com/zfsonlinux/zfs/releases/download/zfs-$rel/zfs-$rel.tar.gz | tar xz
  - (cd spl-$rel && ./configure --prefix=/usr && make && sudo make install)
  - (cd zfs-$rel && ./configure --prefix=/usr && make && sudo make install)
  - sudo modprobe zfs
  - cd $TRAVIS_BUILD_DIR
